@{
    ViewBag.Title = "AuthenticationFailed";
}

<h2>Authentication Failed</h2>

<p>You can login with any username and the login will be created for you. You can enter this new user with any password.</p>
<p>
    However you cannot login with the users that have been imported from a data dump. The reason is that the markdown for those posts was not present in the dump.
    Probably has a fix, but that fix is out of the scope of this proof of concept.
</p>
