@model PopularTagsViewModel
<div id="popular-tags" class="container contained">
    <h3>Popular</h3>
    <small>20 most popular tags. They are ordered by the number of questions tagged.</small>
    @foreach (var tag in Model.Tags)
    {
        <a class="tag label label-info" href="@Url.RouteUrl("Tag", new {tag=tag})">@tag</a>
    }
</div>
