@model SimpleQA.Models.IAuthored
<div class="authoring">
    by <a class="text-nowrap authoring-user" href="@Url.RouteUrl("User",new {user=Model.User})">@Model.User</a>
    <div class="authoring-date" title="@Model.CreatedOn.ToString("yyyy/MM/dd HH:mm")">@Model.CreatedOn.RelativeDate()</div>
</div>
