@model SimpleQA.Models.QuestionDeleteFormViewModel

<form action="@Url.RouteUrl("QuestionWrite", new { action="delete" , id=Model.Id })" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete question?</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this question?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        @Html.SessionTokenInput(User)
        <input type="submit" class="btn btn-primary" value="Delete" />
    </div>
</form>
